@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    font-family: Ubuntu;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
.Main{
    margin-left: 40px;
    padding-top: 32px;
    line-height:normal;

}
.Head{
    font-size: 45px;
}
body{
    display: flex;
    background-color: lightgrey;
    align-items: center;
    
}
.aba{
    padding-top: 7px;
}
.details{
    display: flex;
    width: 1200px;
    justify-content: space-evenly;
    padding-top: 17px;
}
.exp{
    margin-left: 40px;
    padding-top: 32px;
    line-height:normal;
}
.line{
    width: 1200px;
    color: black;
    top: 25px;
    border: none;
    height: 5px;
    background: black;
    margin-bottom: 15px;
}
.exp h4{
    padding-top: 5px;
}
.dates{
    display: flex;
    width: 300px;
    justify-content: space-between;
    padding-top: 10px;
}
.para{
    padding-top: 15px;
}
.para ul{
    padding-top: 10px;
    padding-left: 15px;
}
.line1{
    border: none;
    border-top: 1px dotted rgb(0, 0, 0);
    color: #fff;
    background-color: #000000;
    height: 1px;
    width: 1200px;
    margin-top: 10px;
}
.exp1{
    margin-left: 40px;
    padding-top: 22px;
    line-height:normal;
}
.exp2{
    margin-left: 40px;
    padding-top: 22px;
    line-height:normal;
}
.edu{
    margin-left: 40px;
    padding-top: 22px;
    line-height:normal;
}
.ka{
    margin-left: 40px;
    padding-top: 22px;
    line-height:normal;
}
.btf{
    display: flex;
    width: 190px;
    justify-content: space-between;
    padding-top: 10px;
}
.para1{
    padding-top: 15px;
}
.line2{
    border: none;
    border-top: 1px dotted rgb(0, 0, 0);
    color: #fff;
    background-color: #000000;
    height: 1px;
    width: 475px;
    margin-top: 10px;
}
.mtla{
    display: flex;
    width: 287px;
    justify-content: space-between;
    padding-top: 12px;
}
.ms{
    display: flex;
    width: 350px;
    justify-content: space-between;
    padding-top: 12px;
}
.wlb{
    display: flex;
    width: 675px;
    justify-content: space-between;
    padding-top: 12px;
}

.try{
    display: flex;
    width: 100%;

}
.skill{
    margin-left: 40px;
    padding-top: 22px;
    line-height:normal;

}
.detpara{
    display: flex;
    width: 1200px;
    justify-content: space-evenly;
    padding-top: 16px;
    margin-right: 15px;
}
.lang{
    margin-left: 40px;
    padding-top: 22px;
    line-height:normal;
}
.percent{
    position: relative;
    width: 20%;
    height: 6px;
    background: #000608;
    display: block;
    margin-top: 20px;
}
.percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: gray;
}
.text{
    display: flex;
    width: 10px;
    justify-content: space-between;
    padding-left: 245px;
    margin-top: -19px;
}
.world{
    display: flex;
    width: 1300px;
    justify-content: space-evenly;
    padding-top: 17px;
}